<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- vue  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <!-- js  -->
    <script src="script.js" defer></script>
</head>
<body>

    <div id="app">
        {{message}}
        <h1 v-bind:class="miaClasse"></h1>
        <h1 v-if="awesome">vue is awesome</h1>
        <h1 v-else>oh no</h1>
        <li v-for="i in ciclo">{{i}}</li>
    </div>

</body>
</html>